root = true
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 150

[*.lua]
indent_style = space
indent_size = 4
tab_width = 4
call_arg_parentheses = remove
quote_style = single
call_arg_parentheses = remove
align_table_field_to_first_field = true
