backup
__pycache__

config/lazygit/state.yml
config/ncmpcpp/error.log

config/nvim/lazy-lock.json
config/fish/fish_variables
.python-version
config/nvim/spell
.tool-versions
config/yazi/plugins
config/waybar/ccfi
config/hypr/monitors.conf
config/waybar/style.css
config/swaync/style.css
repro.lua
config/uv/uv-receipt.json
service/proxy/mihomo/config.local.yaml
service/proxy/mihomo/config.yaml

service/proxy/mihomo/docker-compose.yaml
service/proxy/docker-compose.yaml
