config/nvim/plugin/packer_compiled.lua
*backup*/
*/__pycache__/

config/lazygit/state.yml
config/ncmpcpp/error.log
config/mpd/netease
config/mpd/log
config/mpd/sticker.sql
config/mpd/pid
config/mpd/database
config/mpd/playlists

config/nvim/lazy-lock.json
config/fish/fish_variables
.python-version
config/nvim/spell
config/ags/types
config/ags/README.md
config/ags/tsconfig.json
.tool-versions
config/yazi/plugins
config/ags
config/quickshell/.qmlls.ini
.dotter/cache
.dotter/cache.toml
.dotter/local.toml
.repro
repro.lua
