[settings]
jobs = 1

[tasks.init-ubuntu]
run = '''
#!/usr/bin/env bash
sudo sed -i 's@//.*archive.ubuntu.com@//mirrors.ustc.edu.cn@g' /etc/apt/sources.list.d/ubuntu.sources
sudo sed -i 's/security.ubuntu.com/mirrors.ustc.edu.cn/g' /etc/apt/sources.list.d/ubuntu.sources
sudo apt-get update
type -p add-apt-repository >/dev/null || sudo apt-get install software-properties-common -y
type -p wget >/dev/null || sudo apt install wget -y
sudo add-apt-repository ppa:neovim-ppa/unstable -y
sudo mkdir -p -m 755 /etc/apt/keyrings
out=$(mktemp)
wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg
cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg
sudo mkdir -p -m 755 /etc/apt/sources.list.d
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main"|sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt-get update
'''
[tasks.init-archlinux]
run = '''
{ 
    echo 'Server = https://mirrors.ustc.edu.cn/archlinux/$repo/os/$arch'; 
    grep -v '^Server = https://mirrors.ustc.edu.cn/archlinux/\$repo/os/\$arch' /etc/pacman.d/mirrorlist; 
} | sudo tee /etc/pacman.d/mirrorlist > /dev/null
'''
[tasks.post-init-archlinux]
depends = ["install pkgfile"]
run = '''
sudo pkgfile -u
'''

[tasks.install-yay]
description = "Install yay, pacman wrapper and AUR helper"
run = '''
#!/usr/bin/env bash
set -euo pipefail
type -p yay >/dev/null && exit 0
mkdir /tmp/yay-cache && cd /tmp/yay-cache
export GOPROXY=https://goproxy.cn
sudo pacman -S --needed --noconfirm git go base-devel
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si --noconfirm
yay -Syuu --noconfirm
'''


[tasks.install]
description = "Install application with system package manager"
usage = '''
arg "<package>" var=#true help="package name(s), support multiple packages separated by space"
'''
run = '''
#!/usr/bin/env bash
package_list=($usage_package)

if type -p yay >/dev/null; then
    function is_installed(){
        declare -A alias_names
        alias_names=(["neovim"]="neovim-git")
        name="${alias_names[$1]:-$1}"
        echo $name
        yay -Qi "$name" >/dev/null 2>&1
    }
    function install_packages(){
        yay -S --noconfirm "$@"
        echo install "$@"
    }
elif type -p apt-get >/dev/null; then
    function is_installed(){
        declare -A alias_names
        alias_names=(["fd"]="fd-find" ["github-cli"]="gh")
        name="${alias_names[$1]:-$1}"
        echo $name
        dpkg -s "$name" >/dev/null 2>&1
    }
    function install_packages(){
        sudo apt-get install -y "$@"
        echo install "$@"
    }
elif type -p brew >/dev/null; then
    function is_installed(){
        echo $1
        brew ls --version "$1" >/dev/null 2>&1
    }
    function install_packages(){
        brew install "$@"
        echo install "$@"
    }
fi

not_installed=()
for pkg in "${package_list[@]}"; do
    if ! is_installed "$pkg" > /dev/null; then
        not_installed+=(`is_installed "$pkg"`)
    fi
done

if [ ! -z "${not_installed[*]}" ]; then
    install_packages "${not_installed[@]}"
fi
'''


[tasks.link]
description = "Create a symbolic link"
usage = '''
arg "<source>" help="source file"
arg "[target]" help="target file" default=""
'''
run = '''
#!/usr/bin/env bash
source="${usage_source}"
target="${usage_target}"
if [ -z "$target" ]; then
    if [[ "$source" == home/* ]]; then
        target="~/.${source#home/}"
    elif [[ "$source" == etc/* ]]; then
        target="/$source"
    else
        target="~/.$source"
    fi
fi

source=$(realpath "$source")
target=$(eval echo "$target")
if [ ! -e "${source}" ]; then
    echo "Source file ${source} does not exist, failed"
    exit 1
fi
if [ -e "${target}" ] && [ ! -L "${target}" ]; then
    echo "File ${target} exists and not a symbolic link of ${source}, failed exists"
    exit 1
fi
if [ ! -L ${target} ] || [ ! "$(readlink ${target})"="${target}" ]; then
    mkdir -p $(dirname ${target})
    ln -s $source $target
fi
'''

[tasks.config]
usage = '''
arg "<package>" help="package name"
arg "[config]" help="config directory name" default=""
'''
run = '''
#!/usr/bin/env bash
set -euo pipefail
package="${usage_package}"
config="${usage_config}"
if [ -z "$config" ]; then
    if mise tasks ls |awk '{print $1}' | grep -q "^config-${package}\$"; then
        mise run "config-${package}"
        exit 0
    fi
    config=${package}
fi
target="~/.config/${config}"
source="config/${config}"

source=$(realpath "$source")
target=$(eval echo "$target")

if [ -e "${target}" ] && [ ! -L "${target}" ]; then
    echo "File ${target} exists ant not a symbolic link of ${source}, failed exists"
    exit 1
fi
if [ ! -L ${target} ] || [ ! "$(readlink ${target})"="${target}" ]; then
    mkdir -p $(dirname ${target})
    ln -s $source $target
fi
'''


[tasks.config-zsh]
description = "Configure zsh shell"
depends = [
    "install zsh git",
    "link home/zshrc",
    "link home/zprofile",
    "link home/zshenv",
    "link config/shell",
]


[tasks.config-mise]
depends = [
    "link config/mise",
    "link home/cargo/config.toml",
    "link home/npmrc",
    "link home/condarc",
    "link home/bunfig.toml",
    "link config/yazi",
    "link config/uv",
]
run = '''
mise install
'''


[tasks.config-nvim]
depends = ["install neovim", "config-mise", "link config/nvim"]
run = '''
nvim --headless -c "Lazy! sync" \
    -c "TSInstall lua python shell json cpp" \
    -c "MasonInstall clangd emmylua_ls bashls" \
    -c 'lua print(string.format("Install %s neovim plugins \n", require("lazy").stats().count))' \
    -c "qall"

'''


[tasks.config-tmux]
description = "Configure tmux"
depends = ["install git tmux", "link home/tmux.conf.local"]
run = '''
#!/usr/bin/env zsh
if [ ! -d ~/.tmux ] || [ ! -L ~/.tmux.conf ]; then
    rm -rf ~/.tmux
    git clone https://github.com/gpakosz/.tmux.git ~/.tmux
    ln -s -f ~/.tmux/.tmux.conf ~/.tmux.conf
fi
'''

[tasks.config-git-user]
depends = ["install git"]
run = '''
#!/usr/bin/env zsh
declare -A keys
keys=(
    ["user.name"]="John Doe" 
    ["user.email"]="user@example.com"
)
for key in "${(@k)keys[@]}"; do
    default_value="$(eval git config get $key)"
    if [ -z "$default_value" ]; then
        read -r "value?please input your git's $key of global, e.g. (${keys[$key]}):"
    else
        read -r "value?please input your git's $key of global (default: $default_value):"
        value=${value:-$default_value}
    fi
    if [ -z "$value" ]; then 
        echo "you don't input anything, existing..."
        exit 1
    fi;
    git config --global $key $value
done

echo "Please check your global configurations of git:\n"
git config list
'''

[tasks.config-fzf]
depends = ["install fzf curl"]
run = '''
if [ ! -f ~/.local/bin/fzf-preview ]; then
    curl https://raw.githubusercontent.com/junegunn/fzf/refs/heads/master/bin/fzf-preview.sh -o ~/.local/bin/fzf-preview
    chmod +x ~/.local/bin/fzf-preview
fi
'''


[tasks.config-dev]
depends = [
    "install wget ripgrep jq fd fzf bat eza zoxide curl cmake man-db github-cli imagemagick",
    "config zsh",
    "config mise",
    "config nvim",
    "config tmux",
    "config git",
]

[tasks.config-kitty]
depends = [
    "install kitty",
    "link config/kitty",
    # "link local/bin/kitty-save-session",
    "link config/systemd/user/kitty-save-session.service",
    "link config/systemd/user/kitty-save-session.timer",
    "link config/systemd/user/kitty-save-session-failure-notify.service",
]
run = '''
systemctl --user enable --now kitty-save-session.service
systemctl --user enable --now kitty-save-session.timer
'''

[tasks.config-hypr]
depends = [
    "config-dev",
    "install hyprland hyprpaper hyprpicker hypridle hyprlock xdg-desktop-portal-hyprland hyprpolkitagent hyprdynamicmonitors-bin",
    "install xdg-desktop-portal-termfilechooser-hunkyburrito-git",

    "install alsa-firmware sof-firmware libva-intel-driver libva-mesa-driver",

    "install networkmanager blueman bluez-utils",

    "install pipewire-pulse pipewire-jack pipewire-audio playerctl pavucontrol",

    "install curl wget",

    "install fcitx5-pinyin-zhwiki fcitx5-configtool fcitx5-chinese-addons fcitx5-qt fcitx5-gtk",

    "install grimblast-git",

    "config kitty",
    "config ghostty",
    "config swaync",
    "link config/hypr",
    "link config/hyprdynamicmonitors",
    "link local/bin/hyprlayout",
    "link local/bin/widgetctl",
    "config wofi",
    "config waybar",
    "config nwg-bar",

    "link config/systemd/user/wallpaper.service",
]
run = '''

systemctl --user enable --now hyprpolkitagent.service
systemctl --user enable --now hyprpaper.service
systemctl --user enable --now hypridle.service
systemctl --user enable --now hyprdynamicmonitors-prepare.service

systemctl --user enable --now pipewire.service
systemctl --user enable --now pipewire-pulse.service
systemctl --user enable --now wallpaper.service
'''

[tasks.build-archlinux-container]
run = '''
podman build -t abao-archlinux -f container/archlinux/Dockerfile .
'''
[tasks.build-ubuntu-container]
run = '''
podman build -t abao-ubuntu -f container/ubuntu/Dockerfile .
'''

[tasks.easyconnect]
usage = '''
flag "-d --domain <domain>" help="VPN domain"
flag "-u --username <username>" help="VPN username"
flag "-p --password <password>" help="VPN password"
flag "--http-port [http_port]" help="Local HTTP proxy port" default="8888"
flag "--socks-port [socks_port]" help="Local SOCKS5 proxy port" default="1080"
'''
run = '''
docker run --rm --device /dev/net/tun --cap-add NET_ADMIN -ti \
    -p 127.0.0.1:${usage_socks_port}:1080 \
    -p 127.0.0.1:${usage_http_port}:8888 \
    -e EC_VER=7.6.7 \
    -e CLI_OPTS="-d ${usage_domain} -u ${usage_username} -p ${usage_password}" \
    docker.io/hagb/docker-easyconnect:cli
'''

[tasks.service-proxy]
depends = ["install go-yq"]
usage = '''
arg "<action>" help="action: up | down | restart | logs"
flag "-e --easyconnect" help="start easyconnect vpn before starting the proxy service"
flag "--ec-domain <domain>" help="easyconnect VPN domain"
flag "--ec-username <username>" help="easyconnect VPN username"
flag "--ec-password <password>" help="easyconnect VPN password"
'''


run = '''
#!/usr/bin/env bash

pushd ./service/proxy/
if [ ! -f mihomo/config.local.yaml ]; then
    # 参考config.example.yaml 创建
    echo "Please create the config.local.yaml file in the service/proxy/mihomo directory based on the config.example.yaml"
    exit 1
fi

# 检查变量是否定义
if [ "${usage_easyconnect}" == "true" ]; then
    if [ -z "${usage_ec_domain}" ] || [ -z "${usage_ec_username}" ] || [ -z "${usage_ec_password}" ]; then
        echo "When --easyconnect is specified, --ec-domain, --ec-username, and --ec-password must also be provided."
        exit 1
    fi


    yq eval-all 'select(fileIndex == 0) * select(fileIndex == 1) * select(fileIndex == 2)' mihomo/config.base.yaml mihomo/config.easyconnect.yaml mihomo/config.local.yaml > mihomo/config.yaml
    export EC_DOMAIN="${usage_ec_domain}"
    export EC_USERNAME="${usage_ec_username}"
    export EC_PASSWORD="${usage_ec_password}"
    yq eval-all 'select(fileIndex == 0) * select(fileIndex == 1)' docker-compose.base.yaml docker-compose.easyconnect.yaml > docker-compose.yaml
else
    yq eval-all 'select(fileIndex == 0) * select(fileIndex == 1)' mihomo/config.base.yaml mihomo/config.local.yaml > mihomo/config.yaml
    cp docker-compose.base.yaml docker-compose.yaml
fi



docker compose ${usage_action}

'''
