#pragma once

#include <QtCore/qglobal.h>

#if defined(%{lua string.upper(library_name)}_LIBRARY)
#define %{lua string.upper(library_name)}_EXPORT Q_DECL_EXPORT
#else
#define %{lua string.upper(library_name)}_EXPORT Q_DECL_IMPORT
#endif
