$module-background: rgba(46, 46, 46, 0.4);

$widget-radius: 10px;
$widget-padding: 2px 8px;

$margin: 8px;

$widget-background: rgba(60, 60, 60, 0.7);
$accent-background: rgba(80, 80, 80, 0.9);
$hover-background: rgba(80, 80, 80, 0.8);

$text-color: white;
$hover-text: #d3d3d3;
$accent-color: #90EE90;


.control-center {
  border-radius: 0;
}

.widgets>.widget {
  background: $widget-background;
  border-radius: $widget-radius;
  padding: $widget-padding;
  // border: var(--border);
}

.control-center-list-placeholder {
  padding: $widget-radius;
}
.widget-buttons-grid flowboxchild > button.toggle:checked {
  // border-radius: var(--border-radius);
  background: $accent-color;
}

.notification-group {
  border-radius: $widget-radius;
  padding: 8px;
}

.widget-dnd {
  label {
    color: $text-color;
    margin-right: $margin;
    font-size: 1.1rem;
  }

  switch {
    border-radius: var(--border-radius);
    margin-left: $margin;

    &:checked {
      background: $accent-color;
    }

    slider {
      border-radius: var(--border-radius);
    }
  }
}
