# This file is optional, and only used if the OnFailure= line is uncommented in kitty-save-session.service.
[Service]
# Modify the tool used, message, or other details of how to notify that a failure occurred.
ExecStart=notify-send -a kitty 'Kitty Session Save Failed' 'Systemd service unit kitty-save-session.service failed. See journalctl --user -xu kitty-save-session.service for details.'
StandardError=journal
StandardOutput=journal
SyslogIdentifier=kitty-save-session-failure-notify
Type=oneshot

[Unit]
Description=Notify on failure of kitty-save-session
PartOf=kitty-save-session.service
