[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=%h/.config/kitty/scripts/kitty-save-session-all.sh
# Optional. Uncomment this if you have setup the failure notification service as well
StandardError=journal
StandardOutput=journal
SyslogIdentifier=kitty-save-session
Type=oneshot

[Unit]
After=graphical-session.target
Description=Save Kitty terminal sessions
PartOf=graphical-session.target
OnFailure=kitty-save-session-failure-notify.service
