[Install]
WantedBy=graphical-session.target

[Unit]
Description=IPC-controlled wallpaper utility for hyprpaer.
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=%h/.config/hypr/scripts/wallpaperctl
Slice=session.slice
Restart=on-failure
