tun:
  enable: true
  stack: gvisor
  auto-route: true
  device: utun-mihomo
  auto-detect-interface: true
  mtu: 1500
  dns-hijack:
    - any:53
    - tcp://any:53
dns:
  enable: true
  ipv6: false
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip
  use-hosts: true
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver:
    - system
    - 223.5.5.5
    - 119.29.29.29
    - https://dns.alidns.com/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - tls://8.8.8.8:853
    - tls://1.1.1.1:853
