[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi
GenericName=File Manager
Comment=Open directories in Yazi
TryExec=kitty
Exec=/home/abao/.local/bin/yazi-open-directory %U
Icon=utilities-terminal
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
NoDisplay=true
